<a href="https://colab.research.google.com/github/PMwango/PMwango/blob/main/Gathering_Data_with_APIs_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Install the requests library via pip - Python Installer Package
!pip install requests pandas

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
# Send a request to the OMDb API to search for movies related to "Star Wars"

import requests
# API setup
base_url = "https://www.omdbapi.com/"
api_key = "d48cac8d"
# Parameters for the GET request
params = {
    "apikey": api_key,
    "s": "star wars"
}
# Sending the GET request
response = requests.get(base_url, params=params)

# Check the status code to ensure the request was successful
response.status_code

200

In [9]:
# Parsing the JSON Response
if response.status_code == 200:
      results = response.json()['Search']
else:
    print("Error:", response.status_code)

In [13]:
# Creating a Pandas DataFrame

import pandas as pd

movies_list = []

# Extracting data for each movie
for result in results:
    movies_details = {
        "Title": result['Title'],
        "Year": result["Year"],
        "ID": result['imdbID'],
        "Type": result["Type"]
    }
    movies_list.append(movies_details)

# Creating the DataFrame
movies_df = pd.DataFrame(movies_list)

# Displaying the first few rows of the DataFrame
print(movies_df.head(10))

                                            Title  Year         ID   Type
0              Star Wars: Episode IV - A New Hope  1977  tt0076759  movie
1  Star Wars: Episode V - The Empire Strikes Back  1980  tt0080684  movie
2      Star Wars: Episode VI - Return of the Jedi  1983  tt0086190  movie
3      Star Wars: Episode VII - The Force Awakens  2015  tt2488496  movie
4       Star Wars: Episode I - The Phantom Menace  1999  tt0120915  movie
5    Star Wars: Episode III - Revenge of the Sith  2005  tt0121766  movie
6    Star Wars: Episode II - Attack of the Clones  2002  tt0121765  movie
7                    Rogue One: A Star Wars Story  2016  tt3748528  movie
8         Star Wars: Episode VIII - The Last Jedi  2017  tt2527336  movie
9   Star Wars: Episode IX - The Rise of Skywalker  2019  tt2527338  movie