<a href="https://colab.research.google.com/github/PMwango/PMwango/blob/main/Python_List_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Add elements to a list in Python
#append

In [104]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)
fruits.append('cherry')
print('Updated List:', fruits)
fruits.append ('kiwi')
print("Final List:", fruits)

#Other methods
fruits.reverse()
print (fruits)
fruits.sort()
print (fruits)
fruits.copy()
print (fruits)
fruits.pop(0)
print(fruits)
fruits.index('banana')
fruits.count('banana')
#counts the number of times an element appears in a list
# fruits.clear()
# print(fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']
Final List: ['apple', 'banana', 'orange', 'cherry', 'kiwi']
['kiwi', 'cherry', 'orange', 'banana', 'apple']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['banana', 'cherry', 'kiwi', 'orange']

1

In [ ]:
#Insert an element at a specific index in Python
#insert

In [12]:
fruits = ['apple', 'banana', 'orange']
print("Original List:", fruits)
fruits.insert(2, 'cherry')
print("Updated List:", fruits)
fruits.insert (3,'lemon')
print ("Final List:" , fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'cherry', 'orange']
Final List: ['apple', 'banana', 'cherry', 'lemon', 'orange']

In [ ]:
#Add elements to a list from other iterables
#like a list, dictionary, tuple or string
#to the end of the list
#extend

In [4]:
numbers = [1, 3, 5]
print('Numbers:', numbers)
even_numbers  = [2, 4, 6]
print('Even numbers:', numbers)
# adding elements of one list to another
numbers.extend(even_numbers)
print('Updated Numbers:', numbers)

Numbers: [1, 3, 5]
Even numbers: [1, 3, 5]
Updated Numbers: [1, 3, 5, 2, 4, 6]

In [ ]:
#Change list items - by assigning new values
#using the = operator
#Here, we have replaced the element at index 0 to 'Purple'
# and the element at index 2 to 'Blue'

In [14]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)
# change the first item to 'Purple'
colors[0] = 'Purple'
# change the third item to 'Blue'
colors[2] = 'Blue'
print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Purple', 'Black', 'Blue']

In [ ]:
#Remove an item from the list
#remove

In [17]:
numbers = [2,4,7,9]
# remove 4 from the list
numbers.remove(9)
print(numbers)

[2, 4, 7]

In [ ]:
#Remove multiple items from a list or an entire list
#delete

In [36]:
names = ['John', 'Eva', 'Laura', 'Nick', 'Jack']
# delete the item at index 1
del names[1]
print(names)
# delete items from index 1 to index 2
del names[2:3]
print(names)
# delete the entire list
del names
# Error! List doesn't exist.
print(names)

['John', 'Laura', 'Nick', 'Jack']
['John', 'Laura', 'Jack']

NameError: name 'names' is not defined

In [34]:
#Python list length
cars = ['BMW', 'Mercedes', 'Tesla']
print('Total Elements:', len(cars))
print (len(cars))

Total Elements: 3
3

In [103]:
#Iterating through a list- using a loop
fruits = ['apple', 'banana', 'orange']
# iterate through the list
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
#Exercise
# Define the list: list = [17, 38, 10, 25, 72], then perform the following actions:

# Sort and display the list
# Add the element 12 to the list and display the list
# Reverse and display the list
# Display the index of the element 17
# Remove the element 38 and display the list
# Display the sublist from the 2nd to the 3rd element
# Display the sublist from the beginning to the 2nd element
# Display the sublist from the 3rd element to the end of the list
# Display the complete sublist of the list
# Display the last element using negative indexing.

In [105]:
List = [17,38,10,25,72]

List.sort()
print ("Sorted List:", List)
List.append(12)
print ("Updated List:" , List)
List.reverse()
print("Reversed List:", List)
List.index(17)
List.remove(38)
print ("New List: ", List)
List[1:3]
List [0:2]
List[2:]
#-
List[-1]

Sorted List: [10, 17, 25, 38, 72]
Updated List: [10, 17, 25, 38, 72, 12]
Reversed List: [12, 72, 38, 25, 17, 10]
New List:  [12, 72, 25, 17, 10]

10