<a href="https://colab.research.google.com/github/PMwango/PMwango/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sets in Python
#A set is a collection of distinct items, which ensures that no duplicates are allowed within it.

In [ ]:
#Creating sets
#To create a set in Python, place all elements within curly braces `{}`, each separated by a comma.
#A set can contain various types of elements, such as integers, floats, tuples, and strings.
#However, sets cannot include mutable items like lists, other sets, or dictionaries as elements.

In [1]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

#Output order may vary each time you run this code,
#reflecting the unordered nature of sets.

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'u', 'a', 'e', 'i', 'o'}
Set of mixed data types: {'Hello', 101, -2, 'Bye'}

In [2]:
#A set cannot contain duplicates
#In this case, they will not be included in the output

numbers = {2, 4, 6, 6, 2, 8}
print(numbers)   # {8, 2, 4, 6}

{8, 2, 4, 6}

In [ ]:
#Sets are mutable, allowing the modification of their contents.
#However, due to their unordered structure, indexing does not apply to sets.

#Consequently, elements within a set cannot be accessed or modified using indexing or slicing,
#as these operations are unsupported by the set data type.

# Many of the operations that can be used
# for Python’s other composite data types don’t make sense for sets.
# For example, sets can’t be indexed or sliced.
#Operations on sets: Union, Intersection, Difference, Symmetric difference

In [5]:
#Adding elements to a set - using the add() method
numbers = {21, 34, 54, 12}
print('Initial Set:',numbers)
# using add() method
numbers.add(32)
print('Updated Set:', numbers)
numbers.add(25)
print ('Final Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}
Final Set: {32, 34, 12, 21, 54, 25}

In [20]:
#Update python set - using the update() method
#The update() method is used to update the set
#with unique/distinct items of other collection types (lists, tuples, sets, etc).
#For example:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['Apple', 'Google', 'Microsoft']
# using update() method
companies.update(tech_companies)
print(companies)
# Output: {'Google', 'Apple', 'Microsoft', 'Lacoste', 'Ralph Lauren'}

print(len(companies))
print("Yves Rocher" in companies)
print(sorted(companies))
print(max(companies))
print(min(companies))
print(any(companies))
print(all(companies))

{'Microsoft', 'Apple', 'Ralph Lauren', 'Lacoste', 'Google'}
5
False
['Apple', 'Google', 'Lacoste', 'Microsoft', 'Ralph Lauren']
Ralph Lauren
Apple
True
True

In [ ]:
# A set can be empty. However,Python interprets empty curly braces ({}) as an empty dictionary,
# so the only way to define an empty set is with the set() function.
# The len() function returns the number of elements in a set,
# and the in and not in operators can be used to test for membership.

In [ ]:
# Set Operations
# Given two sets, x1 and x2, the union of x1 and x2
# is a set consisting of all elements in either set.
# no duplicates

In [ ]:
#Exercise Instructions :
# Create two sets: set1 = {1, 2, 3, 4, 5} and set2 = {4, 5, 6, 7, 8}.
# Compute and print the union of set1 and set2.
# Compute and print the intersection of set1 and set2.
# Compute and print the difference between set1 and set2.
# Compute and print the symmetric difference between set1 and set2.

In [22]:
#Union
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

print(set_1| set_2)       #using operator |
print(set_1.union(set_2)) #using method union()

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# The way they are used in the examples above, the operator,| and method union()behave identically.
# But there is a subtle difference between them.
# When you use the | operator, both operands must be sets.
# The .union() method, on the other hand, will take any iterable as an argument,
# convert it to a set, and then perform the union.

In [24]:
#Intersection - Returns the common elements in 2/more sets
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

print (set_1&set_2)
print (set_1.intersection(set_2))

{4, 5}
{4, 5}

In [25]:
#Difference - Returns all elements in set_1 that are not in set_2
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

print(set_1 - set_2)
print(set_1.difference(set_2))

{1, 2, 3}
{1, 2, 3}

In [26]:
#Symmetric difference- Returns the set of all elements in either set_1 or set_2, but not both:
#the method takes only one argument
#but the operator ^ can take multiple arguments/sets
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

print (set_1^set_2)
print(set_1.symmetric_difference(set_2))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [31]:
# isdidjoint() method returns True if the sets have NO elements in common.
#Other methods:
#issubset() - a set x1 is considered a subset of another set x2 if every element of x1 is in x2.
#issuperset() - a set x1 is considered a superset of another set x2 if x1 contains every element of x2.

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

print(set_1.isdisjoint(set_2))
print(set_1.issubset(set_2))
print(set_1.issuperset(set_2))

False
False
False