<a href="https://colab.research.google.com/github/PMwango/PMwango/blob/main/Type_casting_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Type casting - the process of converting a variable from one data type to another.
#               string(), int(), float(), bool()
#Useful in handling user input which is usually a string.
#You can get the data type of a value using the type function.
#type(variable) OR print (type(variable))

In [6]:
name = "Tina Turner"
age = 25
gpa = 3.2
is_student = True

type (name)
print (type(name))
print (type(age))
print (type(gpa))
print (type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [7]:
#Example - Converting gpa to integer
#Reassign the gpa using int data type to type cast
#The decimal portion is truncated

gpa = int(gpa)
print (gpa)

3

In [10]:
#Converting age to float

age = float(age)
print (age)

25.0

In [15]:
#Converting age to string
age = 25
age = str(age)
print (age)
type(age)

25

str

In [17]:
#Converting name to boolean

name = bool(name)
print (name)

True